<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学生考勤数据</title>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        th {
          background-color: #f2f2f2;
        }
          body #data-table th:first-child,
          body #data-table td:first-child {
            display: none;
          }


    </style>
</head>
<body>
  <h1>不上延时学生离校考勤数据</h1>

  <table id="data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>班级</th>
            <th>学生姓名</th>
            <th>离校时间</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.class_name }}</td>
            <td>{{ row.student_name }}</td>
            <td>{{ row.check_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('get_checkeddata')
     .then(response => response.text())
     .then(html => {
            // 假设获取到的html中，表格数据在 <tbody> 标签内
            var startIndex = html.indexOf('<tbody>');
            var endIndex = html.indexOf('</tbody>') + '</tbody>'.length;
            var tableContent = html.substring(startIndex, endIndex);
            document.querySelector('#data-table tbody').innerHTML = tableContent;
        });
    });
  </script>
</body>
</html>

