<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不延时学生列表</title>
    <link href="http://cdn.staticfile.net/bootstrap/5.3.2/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.staticfile.net/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>

</head>
<body>

<!--
    {% for grade in grades %}
    <h1>{{grade.class_text}}</h1>
    <h1>{{grade.id}}</h1>
    {% endfor %}
    {% for student in students %}
    <h1>{{student.student_text}}</h1>
    <h1>{{student.class_text}}</h1>
    <h1>{{student.class_text_id}}</h1>
    {% endfor %}

    for i in grades:
    print(students.filter(class_text=i))

-->
    <div style="width: 100%" class="row">
      <div style="position: fixed;height: 100%;overflow-y: scroll;" class="col-4" data-bs-spy="scroll" >
        <div id="list-example" class="list-group scrollspy-example" >
            {% if grades %}
                {% for grade in grades %}
                <a style="font-size: calc(1rem + 1.2vw);" class="list-group-item list-group-item-action" href="#grade{{grade.id}}">{{grade.class_text}}</a>
                {% endfor %}
            {% endif %}
        </div>
      </div>
      <div style="margin-left: auto" class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <br>
            {% for i in grades %}
            <div  id="grade{{i.id}}">
                {% for student in students %}
                    {% if student.class_text_id == i.id %}
                    <div>
                        <div style="display: block">
                        <h1 style="font-size: calc(2rem + 1.2vw);display: inline-block;">{{student.student_text}}</h1>
                        <p style="font-size: calc(1rem + 1.2vw);display: inline-block;float: right">{{student.class_text}}</p>
                        </div>
                        {% if student.info_text != None %}
                        <p style="font-size: calc(0.6rem + 1.2vw);">备注：{{student.info_text}}</p>
                        {% endif %}
                        <div style="padding-left: 0;" class="form-check">
                            <label style="margin-top: 1.3em;float: left" class="form-check-label" for="flexSwitchCheckDefault">勾选表示已离校</label>
                            <input style="width: 5.6em;height: 2.6em;float: right;border: var(--bs-border-width) solid #86b7fe;border-radius: 2rem;" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                        <br>
                        <hr>
                        <br>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
      </div>
    </div>

</body>
</html>