<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不延时学生列表</title>
    <link href="http://cdn.staticfile.net/bootstrap/5.3.2/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.staticfile.net/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>
</head>
<body>
<!--
    {% for grade in grades %}
    <h1>{{grade.class_text}}</h1>
    <h1>{{grade.id}}</h1>
    {% endfor %}
    {% for student in students %}
    <h1>{{student.student_text}}</h1>
    <h1>{{student.class_text}}</h1>
    <h1>{{student.class_text_id}}</h1>
    {% endfor %}
-->
    <div class="row">
      <div style="position: fixed" class="col-4">
        <div id="list-example" class="list-group">
            {% for grade in grades %}
            <a style="font-size: calc(1rem + 1.2vw);" class="list-group-item list-group-item-action" href="#{{grade.id}}">{{grade.class_text}}</a>
            {% endfor %}
        </div>
      </div>
      <div style="margin-left: auto" class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            {% for student in students %}
            <div id="{{student.class_text_id}}">
                <h1 style="font-size: calc(2rem + 1.2vw);">{{student.student_text}}</h1>
                <p style="font-size: calc(1rem + 1.2vw);">{{student.info_text}}</p>
                <hr>
                <br>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


</body>
</html>